body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #b3c5bf;
}

button {
    width: 60px;
    height: 60px;
    background: #ec3636;
    border-radius: 100%;
    border: none;
    font-weight: 700;
    color: white;
}

input {
    border: none;
    background: #dfe4e8;
    border-radius: 5px;
}

label {
    color: white;
}

.saveButton {
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    bottom: 4px;
    right: 4px;
    background: orange;
    color: white;
    border-radius: 8px;
    display: inline-block;
    width: 70px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    font-weight: 800;
}

.successButton {
    width: 100px;
    height: 10px;
    background: #4cd74cb8;
    cursor: pointer;
}

.removeButton {
    width: 100px;
    height: 10px;
    background: #ec3636;
    cursor: pointer;
}

.trSuccess {
    background: #4cd74cb8;
}

.trRemove {
    background: #ec3636;
}

.wrapper {
    position: relative;
    width: 50%;
    background: grey;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid red;
}

.clear {
    background: #b3c5bf;
    color: grey;
}




/*FLEXBOX*/

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 3em 0 3em 0;
    padding: 0;
}

.flex-rows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    border: 1px solid #626262;
    margin-top: -1px;
}

.flex-rows div {
    width: 25%;
    height: 20px;
    text-align: center;
    border-right: 1px solid #626262;
}

.flex-rows div:last-child {
	border-right: none;
}